.main{
  display: flex;
  justify-content: space-between;
  background-color: #1b2838;
}


.leftSide{
  display: flex;    
  .interface {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .gameActions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .levels {
    display: flex;
    align-items: center;
  }
  
}

