.hideField{
  display: none;
}

.fade-enter{
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 1000ms linear;
}

.fade-exit{
  opacity: 1;
}

.fade-exit.option-exit-active {
  opacity: 0;
  transition: opacity 2s ease;
}


.gameField::-webkit-scrollbar{
  width: 5px;
  background-color: #1b2838;
}

.gameField::-webkit-scrollbar-thumb{
  background-color: #FFFFFF;
}

.gameField{
  width: 80vw;
  height: 88vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;


  .gamebox{
    display: grid;
    place-items: center;
    width: 250px;
    height: 350px;
    background-color: none;
    transition: background-color 0.5s;
    animation: opacitySlide 1s ease;

    img {
      width: 200px;
      height: 300px;
      transition: transform 0.5s;

      &:hover{
        transform: scale(1.1);
      }
    }

    &:hover{
      background-color: aliceblue;
    }

  }

  .gamebox-disable{
    display: grid;
    place-items: center;
    opacity: 0.5;
    width: 250px;
    height: 350px;
    transition: opacity 1s linear;

    img{
      animation: imgScale 0.5s linear;
      transform: scale(0.9);
      width: 200px;
      height: 300px;
    }
  }

  .small {   
    width: 250px;
    height: 350px;
    img {
      transition: opacity 200ms linear, background-color 0.5s, transform 200ms linear;
      opacity: 0.2;
      background-color: green;
      transform: scale(0.1);
    }     
    
  }
}

@keyframes opacitySlide {
  0% {
    opacity: 0.5;

  }

  100% {
    opacity: 1;
  }
}

@keyframes imgScale {
  0% {
    transform: scale(1);
  }
  100%{
    transform: scale(0.9);
  }
}