.QuizApiWrapper{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}


.QuizApi{
  width: 70vw;
  height: 50vh;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.QuizApiImages{
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    width: 200px;
  }
}