.QuizApiWrapper{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}


.QuizApi{
  width: 50%;
  height: 50%;
  position: relative;
  padding: 5%;
  color: #FFFFFF;
  z-index: 10;
}

.QuizApiImages{
  display: flex;
  align-items: center;
  justify-content: space-around;

  .Quiz-Img{
    transition: all 1s;
  }

  .Quiz-Img:hover{
    transform: scale(1.1);
    border: 1px solid white;
  }
  
}

.QuizText{
  padding-top: 5%;
  font-size: 1.5em;

}