.stats {
    display: flex;
    flex-direction: column;
    h2 {
        padding: 10px 0;
    }
    h3 {
        padding: 5px 0;
    }
    .icon {
        padding-top: 25px;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
          }  
    }   p {
        font-size: 1.17em;
        font-weight: bold;
    }
}

