.header {
    padding: 0.8rem;
    .container {
      max-width: 1200px;
      padding: 0 15px;
      margin: 0 auto;
      height: 100%;
    }    
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    img {
        height: 50px;    
        &:hover {
          transform: scale(1.2);
      }      
    }    
  
    a {
        text-decoration: none;
        color: #b8b6b4;
        font-size: 18px;
        transition: 0.2s;
        &:hover {
          color: #fff;
        }
        &.active {
          color: #fff;          
        }
      }
}