.footer {
    padding: 0.8rem;    
    background-color: #282c34;
    .container {
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        height: 100%;
      }    
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .contact__info {
            display: flex;
            flex-direction: column;
            text-align: end;
            .dev {
                padding: 5px;
            }
            
        }                                            
    }
    img {
       height: 100px;               
        }
         
    .nav a {        
        padding: 0 1.5rem;
    }     
  
    a {             
        text-decoration: none;
        color: #b8b6b4;
        font-size: 18px;
        transition: 0.2s;
        &:hover {
          color: #fff;
        }
        &.active {
          color: #fff;                  
        }           
        .icon {
            height: 25px;     
            padding: 2px;       
            margin: 0 5px;
            background:  white;  
            border-radius: 50%;
            &:hover {
                transform: scale(1.2);
            }
        }  
      } 
    .copyright {
        font-size: 0.8rem;
        padding-top: 10px;
    }     
}

 